.tag.task-status-1,
.tag.task-status-2,
.tag.task-status-3,
.tag.task-status-4,
.tag.task-status-5 {
    color: #000;
}

.tag.task-status-1 {
    background: #ff6250;
    color: #fff;
}

.tag.task-status-2 {
    background: #3498db;
    color: #fff;
}

.tag.task-status-3 {
    background: #f1c40f;
}

.tag.task-status-4 {
    background: #9b59b6;
    color: #fff;
}

.tag.task-status-5 {
    background: #46eb8b;
}